<header class="header">
            
             
    <img class="main-logo" src="assets/Images/Logo-V2.png" alt="Ambreen Mustafa">
  
  <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line3"></div>
  
    </div>
  
  <div class="mob-notactive mob-active">
  <nav>
   
    <ul class="nav_links">
        <li><a  class="link" routerLink="/Home">Home</a></li>
        <li><a  class="link" routerLink="/About">About</a></li>
         <li><a class="link" routerLink="/Blogs">Blogs</a></li>
        <li><a  class="link" routerLink="/Events">Events</a></li>
        <li><a class="link" routerLink="/Contact">Contact</a></li>
    </ul>               
  </nav>
  </div>
  
  
  </header>