<footer>
    <div class="container-fluid">
       <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <ul class="footer-nav">
              <li><a href="#about">About</a></li>
              <li><a href="#blogs">Blog</a></li>
              <li><a href="#events">Events</a></li>
              <li><a href="#contact">Connect</a></li>
          </ul>
      </div>
    
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <ul class="social-links">
           
              <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
              <li><a href="https://www.linkedin.com/in/ambreenmustafa/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
              <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
              <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>   
          </ul>
      </div>            
    </div>
    
    
    </div>
</footer>